@using System.Threading.Tasks
@using Club.ViewModels
@model Club.ViewModels.ProblemViewModel

@{
    ViewBag.Title = Model.Name;
}


<div class="row">
    <div class="col-md-12 ">
        <div class="jumbotron">
            <h1>@Model.Name <small><a href="@Model.Link"><i class="fa fa-link" style="font-size: 30px;"></i>@Model.Site</a></small></h1>
            <h3>@Model.Topic — @Model.Level — <span style="font-size: 15px;" ><input type="hidden" value="@Model.Difficulty" class="rating" data-start="0" data-stop="10" data-filled="fa fa-check-circle fa-2x" data-empty="fa fa-circle fa-2x" data-readonly /></span></h3>
            @if (User.Identity.IsAuthenticated)
            {
                <a asp-action="create" asp-controller="submit" asp-route-problemId="@Model.Id" class="btn btn-primary"><i class="fa fa-paper-plane"></i>&nbsp;Enviar solución</a>
            }
            @if (User.IsInRole("Admin"))
            {
                <hr />
                <h4><a asp-action="edit" asp-route-id="@Model.Id" class="btn btn-default">Editar</a></h4>
            }
        </div>
    </div>
</div>



@section Scripts{
    <script src="~/lib/bootstrap-rating/bootstrap-rating.min.js"></script>
}