@using System.Threading.Tasks
@using Club.ViewModels
@model Club.ViewModels.ProblemViewModel

@{
    ViewBag.Title = Model.Name;
}


<div class="row">
    <div class="col-md-12 ">
        <div class="jumbotron">
            <h1>@Model.Name</h1>
            <h3>@Model.Topic — @Model.Level</h3>
            <input type="hidden" value="@Model.Difficulty" class="rating" data-start="0" data-stop="10" data-filled="fa fa-check-circle fa-2x" data-empty="fa fa-circle fa-2x" data-readonly />
            <h4><a href="@Model.Link">@Model.Site</a></h4>
            @if (User.Identity.IsAuthenticated)
            {
                <h4><a asp-action="create" asp-controller="submit" asp-route-problemId="@Model.Id">Enviar solución</a></h4>
            }
        </div>
    </div>
</div>



@section Scripts{
    <script src="~/lib/bootstrap-rating/bootstrap-rating.min.js"></script>
}