@model IEnumerable<IGrouping<int, Club.ViewModels.ProblemViewModel>>

@{
    int userLevelId = (int)ViewBag.UserLevelId;
    string levelName = "";

    var nameDict = new Dictionary<int, string>
    {
        {1, "Basico"},
        {2, "Basico-Intermedio"},
        {3, "Intermedio"},
        {4, "Intermedio-Avanzado"},
        {5, "Avanzado"},
    };

    ViewBag.Title = "Problemas";
}

<h2>@ViewBag.Title</h2>
<div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        @foreach (var group in Model)
        {
            <li role="presentation" class="@(group.Key == userLevelId?"active" : "")">
                <a href="#problems-@group.Key" aria-controls="home" role="tab" data-toggle="tab">@nameDict[group.Key]</a>
            </li>
        }
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">

        @foreach (var group in Model)
        {
            <div role="tabpanel" class="tab-pane @(group.Key == userLevelId?"active" : "")" id="problems-@group.Key">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <td>Nombre</td>
                            <td>Tema</td>
                            <td>Acción</td>
                        </tr>
                    </thead>
                    @foreach (var problemViewModel in group)
                    {
                        <tr>
                            <td>
                                @problemViewModel.Name
                            </td>
                            <td>
                                @problemViewModel.Topic
                            </td>
                            <td>
                                <a asp-controller="problems" asp-action="details" asp-route-id="@problemViewModel.Id">Ver</a>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        }
    </div>

</div>
