@model Club.ViewModels.EditUserViewModel
@{
    ViewBag.Title = Model.Username;
}

<h2>@Model.Username</h2>
<form method="post" asp-antiforgery="true">
    @if (ViewBag.Message != null)
    {
        <div>@ViewBag.Message</div>
    }
    <div asp-validation-summary="ValidationSummary.ModelOnly"></div>
    <input asp-for="Username" type="hidden" />
    <div class="form-group">
        @Html.LabelFor(i => i.FirstName)
        <input class="form-control" asp-for="FirstName" />
        <span class="text-muted" asp-validation-for="FirstName"></span>
    </div>
    <div class="form-group">
        @Html.LabelFor(i => i.LastName)
        <input class="form-control" asp-for="LastName" />
        <span class="text-muted" asp-validation-for="LastName"></span>
    </div>
    <div class="row">
        <div class="form-group col-md-8">
            <label asp-for="LevelId"></label>
            <select asp-for="LevelId" class="form-control" asp-items="@ViewBag.SelectUserLevels"></select>
        </div>
        @if (User.IsInRole("Admin"))
        {
            <div class="form-group col-md-2">
                <label asp-for="IsAdmin"></label>
                <input asp-for="IsAdmin" class="form-control" />
            </div>
        }
    </div>
    <div class="form-group">
        @Html.LabelFor(i => i.Email)
        <input class="form-control" asp-for="Email" type="email" />
        <span class="text-muted" asp-validation-for="Email"></span>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label asp-for="StudentId"></label>
            <input asp-for="StudentId" class="form-control" />
            <span asp-validation-for="StudentId"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Phone"></label>
            <input asp-for="Phone" class="form-control" />
            <span asp-validation-for="Phone"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-4">
            <label asp-for="TwitterProfile"></label>
            <input asp-for="TwitterProfile" class="form-control" />
            <span asp-validation-for="TwitterProfile"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="FacebookProfile"></label>
            <input asp-for="FacebookProfile" class="form-control" />
            <span asp-validation-for="FacebookProfile"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="GitHubProfile"></label>
            <a class="btn btn-success" asp-action="GitHubAuth" asp-route-username="@Model.Username">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Star
            </a>
        </div>
    </div>
    @if (User.IsInRole("Admin"))
    {
        <div class="form-group">
            @Html.LabelFor(i => i.Notes)
            <textarea class="form-control" name="notes" id="notes">@Model.Notes</textarea>
            <span class="text-muted" asp-validation-for="Notes"></span>
        </div>
    }
    <div class="form-group">
        <input type="submit" class="btn btn-success" value="Guardar" />
        <a class="btn btn-success" asp-action="details" asp-route-username="@Model.Username">Cancelar</a>
    </div>
</form>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}

