@model Club.ViewModels.SignUpViewModel
@{
    ViewBag.Title = "Sign up";
}


<h2>Registrarse</h2>
<form method="post" asp-antiforgery="true">
    @if (ViewBag.Message != null)
    {
        <div>@ViewBag.Message</div>
    }
    <div asp-validation-summary="ValidationSummary.ModelOnly"></div>
    <div class="form-group">
        @Html.LabelFor(i => i.FirstName)
        <input class="form-control" asp-for="FirstName"/>
        <span class="text-muted" asp-validation-for="FirstName"></span>
    </div>
    <div class="form-group">
        @Html.LabelFor(i => i.LastName)
        <input class="form-control" asp-for="LastName"/>
        <span class="text-muted" asp-validation-for="LastName"></span>
    </div>
    <div class="form-group">
        @Html.LabelFor(i => i.Username)
        <input class="form-control" asp-for="Username"/>
        <span class="text-muted" asp-validation-for="Username"></span>
    </div>
    <div class="form-group">
        @Html.LabelFor(i => i.Email)
        <input class="form-control" asp-for="Email" type="email"/>
        <span class="text-muted" asp-validation-for="Email"></span>
    </div>
    <div class="form-group">
        @Html.LabelFor(i => i.Password)
        <input type="password" class="form-control" asp-for="Password"/>
        <span class="text-muted" asp-validation-for="Password"></span>
    </div>
    <div class="form-group">
        @Html.LabelFor(i => i.PasswordConfirmation)
        <input type="password" class="form-control" asp-for="PasswordConfirmation"/>
        <span class="text-muted" asp-validation-for="PasswordConfirmation"></span>
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-success" value="Solicitar"/>
    </div>
</form>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}
