<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/bootswatch/@Club.Startup.Settings.Theme/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <style>
        nav#header {
            min-height: 80px;
            padding: 0;
        }


            nav#header #headerNav {
                padding-top: 10px;
                background-image: url(../../../assets/headerbg.png);
                background-position: top left;
                background-repeat: no-repeat;
                min-height: 80px;
            }

        #homeLink {
            width: 250px;
        }

        /* Fixed crap */

        html,
        body {
            height: 100%;
            /* The html and body elements cannot have any padding or margin. */
        }

        /* Wrapper for page content to push down footer */
        #wrap {
            min-height: 100%;
            height: auto;
            /* Negative indent footer by its height */
            margin: 0 auto -80px;
            /* Pad bottom by footer height */
            padding: 0 0 80px;
        }

        /* Set the fixed height of the footer here */
        #footer {
            height: 80px;
            background-color: #f5f5f5;
        }

        .navbar .divider-vertical {
            height: 50px;
            margin: 0 5px;
            border-right: 1px solid rgba(0,0,0,.1);
            border-left: 1px solid rgba(0,0,0,.1);
        }

        .navbar-inverse .divider-vertical {
            border-right-color: rgba(0,0,0,.1);
            border-left-color: rgba(0,0,0,.1);
        }
    </style>
    @RenderSection("Styles", false)
    <title>@ViewBag.Title</title>
</head>
<body>
    <!-- Wrap all page content here -->
    <div id="wrap">
        <header>
            <nav class="navbar navbar-inverse" id="header">
                <div id="headerNav" class="container container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#global-menu" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a id="homeLink" asp-controller="home" asp-action="index" class="navbar-brand">&nbsp;</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="global-menu">
                        <ul class="nav navbar-nav">
                            <li><a asp-controller="calendar" asp-action="index">Calendario</a></li>
                            <li><a asp-controller="announcements" asp-action="index">Avisos</a></li>
                            <li><a href="@Club.Startup.Settings.CallToActionLink">@Club.Startup.Settings.CallToActionText</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <li><a asp-controller="users" asp-action="details" asp-route-username="@User.Identity.Name">@User.Identity.Name</a></li>
                                if (User.IsInRole("Admin"))
                                {
                                    <li><a asp-controller="dashboard" asp-action="index">Dashboard</a></li>

                                }
                                <li><a asp-controller="problems" asp-action="index">Problemas</a></li>
                                <li><a asp-controller="account" asp-action="logout">Logout</a></li>
                            }
                            else
                            {
                                <li><a asp-controller="account" asp-action="login">Login</a></li>
                            }
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </header>
        <div class="container-fluid" id="main">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <ol class="breadcrumb">
                        <li><a id="btn-back" href="#">Volver</a></li>
                    </ol>
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div style="margin-top: 10px" class="col-lg-6 col-lg-offset-3">
                    <p class="text-center">@Club.Startup.Settings.HtmlFooter</p>
                </div>
            </div>
        </div>
    </footer>
    @* Scripts *@
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script>
        $(document).ready(function () {
            $("#btn-back").click(function () {
                window.history.back();
            });
        });
    </script>
    @RenderSection("Scripts", false)

</body>
</html>
