@model Club.ViewModels.DashboardViewModel

@{
    ViewBag.Title = "Dashboard";
}

<div class="row">
    <div class="col-lg-4">
        <div class="list-group">
            <a asp-controller="calendar" asp-action="index" class="list-group-item">
                <span class="badge">@Model.UpcomingEventsCount</span>
                Calendario
            </a>
            <a asp-controller="announcements" asp-action="index" class="list-group-item">
                <span class="badge">@Model.RecentAnnouncements?.Count()</span>
                Avisos
            </a>
            <a asp-action="unapproved" asp-controller="users" class="list-group-item">
                <span class="badge">@Model.UsersAwaitingApprovalCount</span>
                Usuarios pendientes de aprobación
            </a>
        </div>

        <a asp-controller="events" asp-action="create" class="btn btn-primary btn-lg btn-block">
            <i class="fa fa-calendar-plus-o"></i> Nuevo evento
        </a>
        <a asp-controller="announcements" asp-action="create" class="btn btn-primary btn-lg btn-block">
            <i class="fa fa-exclamation-circle"></i> Nuevo aviso
        </a>
        <a asp-controller="problems" asp-action="create" class="btn btn-primary btn-lg btn-block">
            <i class="fa fa-exclamation-circle"></i> Nuevo problema
        </a>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Usuarios más activos</h3>
            </div>
            <div class="panel-body">
                @if (Model.MostActiveUsers.Any())
                {
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th>Usuario</th>
                                <th>Eventos</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var usuario in Model.MostActiveUsers)
                            {
                                <tr>
                                    <td><a asp-controller="users" asp-action="details" asp-route-username="@usuario.Username" >@usuario.Username</a></td>
                                    <td>@usuario.EventsAttendedCount</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            </div>
            <div class="panel-footer">
                <a asp-action="index" asp-controller="users">Ver todos</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Usuarios más activos</h3>
            </div>
            <div class="panel-body">
                @if (Model.MostActiveUsers.Any())
                {
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th>Usuario</th>
                                <th>Eventos</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var usuario in Model.MostActiveUsers)
                            {
                                <tr>
                                    <td><a asp-controller="users" asp-action="details" asp-route-username="@usuario.Username">@usuario.Username</a></td>
                                    <td>@usuario.EventsAttendedCount</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            </div>
            <div class="panel-footer">
                <a asp-action="index" asp-controller="users">Ver todos</a>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Usuarios pendientes de aprobación</h3>
            </div>
            <div class="panel-body">
                @if (Model.UsersAwaitingApproval.Any())
                {
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th>Usuario</th>
                                <th>Nombre</th>
                                <th>Apellidos</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var usuario in Model.UsersAwaitingApproval)
                            {
                                <tr>
                                    <td>@usuario.Username</td>
                                    <td>@usuario.FirstName</td>
                                    <td>@usuario.LastName</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <span>Vaya, parece que no hay usuarios esperando ser aprobados</span>
                }
            </div>
            <div class="panel-footer">
                <a asp-action="unapproved" asp-controller="users">Ver más</a>
            </div>
        </div>
    </div>
</div>
