@using System.Threading.Tasks
@using Club.ViewModels
@model Club.ViewModels.DashboardViewModel

@{
    var term = ViewBag.Term as TermViewModel;
    ViewBag.Title = "Dashboard";
    int year = DateTime.Now.Year;
    int month = DateTime.Now.Month;
}


<div class="row">
    <div class="col-lg-4">
        <div class="list-group">
            @if (term != null)
            {
                <a href="#" class="list-group-item active">
                    <h3 class="list-group-item-heading">Periodo: @term.Name</h3>
                    <p class="list-group-item-text">@term.Start.ToShortDateString() - @term.End.ToShortDateString()</p>
                </a>
                <a asp-controller="events" asp-action="create" class="list-group-item">
                    Nuevo evento <span class="badge"><i class="fa fa-calendar-plus-o"></i></span>
                </a>
            }
            else
            {
                <a asp-controller="terms" asp-action="create"
                   class="list-group-item list-group-item-warning">
                    <h3 class="list-group-item-heading">Registra un periodo</h3>
                    <p class="list-group-item-text">
                        Debes registrar un periodo para poder registrar eventos
                    </p>
                </a>
            }
            <a asp-controller="announcements" asp-action="create" class="list-group-item">
                Nuevo aviso <span class="badge"><i class="fa fa-bullhorn"></i></span>
            </a>
            <a asp-controller="problems" asp-action="create" class="list-group-item">
                Nuevo problema <span class="badge"><i class="fa fa-gavel"></i></span>
            </a>
            <a asp-controller="topics" asp-action="create" class="list-group-item">
                Nuevo tema <span class="badge"><i class="fa fa-tags"></i></span>
            </a>
            <a asp-controller="terms" asp-action="create" class="list-group-item">
                Nuevo periodo <span class="badge"><i class="fa fa-tags"></i></span>
            </a>
            <a asp-action="unapproved" asp-controller="users" class="list-group-item">
                <span class="badge">@Model.UsersAwaitingApprovalCount</span>
                Usuarios pendientes de aprobación
            </a>
        </div>
    </div>
    <div class="col-lg-8">
        <div id="calendar" class="calendar">
        </div>
    </div>
</div>




@section Scripts {

    <script src="~/lib/moment/min/moment-with-locales.min.js"></script>
    <script src="~/lib/fullcalendar/dist/fullcalendar.js"></script>
    <script src="~/lib/fullcalendar/dist/lang/es.js"></script>

    <script>
        var iconDictionary = {
            'success': 'check',
            'warning': 'exclamation-triangle',
            'info': 'exclamation-circle',
            'danger': 'exclamation',

            'contest': 'sort-numeric-asc',
            'workshop': 'hand-lizard',
            'conference': 'microphone',
            'class': 'book'
        };
        $(document).ready(function () {

            // page is now ready, initialize the calendar...

            $('#calendar').fullCalendar({
                defaultDate: '@($"{year}-{month:D2}-{DateTime.Now.Day}")',
                defaultView: 'basicWeek',
                timezone: 'America/Mexico_City',
                events: {
                    url: '/api/calendar',
                    type: 'GET',
                    success: function (a, b, c) {
                    },
                    error: function (a, b, c) {
                    }
                }
            });

        });
    </script>
}
@section Styles {
    <link href="~/lib/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet" />
    <style>
        .fc-content {
            margin: 1px 0;
            padding: 2px;
            border-radius: 5px;
            font-size: .85em;
            color: white;
        }

            .fc-content.event {
                background-color: #576396;
            }

            .fc-content.announcement {
                background-color: #e76a05;
            }

        .modal-dialog {
            z-index: 30;
        }

        .modal-backdrop.in {
            z-index: 0;
        }
    </style>
}
