@using System.Threading.Tasks
@using Club.ViewModels
@model Club.ViewModels.DashboardViewModel

@{
    var term = ViewBag.Term as TermViewModel;
    ViewBag.Title = "Dashboard";
    int year = DateTime.Now.Year;
    int month = DateTime.Now.Month;
}

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#dashboard-menu" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            @if (term != null)
            {
                <a class="navbar-brand" href="#">@term.Name</a>
            }
            else
            {
                <a class="navbar-brand" asp-controller="terms" asp-action="create">
                    ¡Registra un periodo!
                </a>
            }
        </div>
        <div class="collapse navbar-collapse" id="dashboard-menu">
            <ul class="nav navbar-nav">

                @if (term != null)
                {
                    <li class="divider-vertical"></li>
                    <li>
                        <a asp-controller="events" asp-action="create">
                            Nueva sesión
                        </a>
                    </li>
                }
                <li class="divider-vertical"></li>
                <li>
                    <a asp-controller="announcements" asp-action="create">
                        Nuevo aviso
                    </a>
                </li>
                <li class="divider-vertical"></li>
                <li>
                    <a asp-controller="problems">
                        Problemas
                        @if (Model.PendingSubmissionsCount != 0)
                        {
                            <span class="badge">@Model.PendingSubmissionsCount</span>
                        }
                    </a>
                </li>
                <li>
                    <a data-toggle="dropdown" class="dropdown-toggle"><b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a asp-controller="topics" asp-action="create">Nuevo tema</a></li>
                        <li><a asp-controller="problems" asp-action="create">Nuevo</a></li>
                        <li><a asp-controller="submit" asp-action="index">Revisar problemas <span class="badge">@Model.PendingSubmissionsCount</span></a></li>
                    </ul>
                </li>
                <li class="divider-vertical"></li>

                <li>
                    <a asp-controller="users">
                        Usuarios
                        @if (Model.UsersAwaitingApprovalCount != 0)
                        {
                            <span class="badge">@Model.UsersAwaitingApprovalCount</span>
                        }
                    </a>
                </li>
                <li>
                    <a data-toggle="dropdown" class="dropdown-toggle"><b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="~/events/attendance">Asistencia</a></li>
                        <li><a asp-action="unapproved" asp-controller="users">Pendientes de aprobación <span class="badge">@Model.UsersAwaitingApprovalCount</span></a></li>
                    </ul>
                </li>
                <li class="divider-vertical"></li>

                <li>
                    <a asp-controller="terms">
                        Periodos
                    </a>
                </li>
                <li>
                    <a data-toggle="dropdown" class="dropdown-toggle"><b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a asp-controller="terms" asp-action="create">
                                Nuevo periodo
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="divider-vertical"></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a asp-action="index" asp-controller="settings">
                        Configuración
                    </a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="row">
    <div class="col-lg-12">
        <div id="calendar" class="calendar">
        </div>
    </div>
</div>




@section Scripts {

    <script src="~/lib/moment/min/moment-with-locales.min.js"></script>
    <script src="~/lib/fullcalendar/dist/fullcalendar.js"></script>
    <script src="~/lib/fullcalendar/dist/lang/es.js"></script>

    <script>
        var iconDictionary = {
            'success': 'check',
            'warning': 'exclamation-triangle',
            'info': 'exclamation-circle',
            'danger': 'exclamation',

            'contest': 'sort-numeric-asc',
            'workshop': 'hand-lizard',
            'conference': 'microphone',
            'class': 'book'
        };
        $(document).ready(function () {

            // page is now ready, initialize the calendar...

            $('#calendar').fullCalendar({
                defaultDate: '@($"{year}-{month:D2}-{DateTime.Now.Day}")',
                defaultView: 'basicWeek',
                timezone: 'America/Mexico_City',
                events: {
                    url: '/api/calendar',
                    type: 'GET',
                    success: function (a, b, c) {
                    },
                    error: function (a, b, c) {
                    }
                }
            });

        });
    </script>
}
@section Styles {
    <link href="~/lib/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet" />
    <style>
        .fc-content {
            margin: 1px 0;
            padding: 2px;
            border-radius: 5px;
            font-size: .85em;
            color: white;
        }

            .fc-content.event {
                background-color: #576396;
            }

            .fc-content.announcement {
                background-color: #e76a05;
            }

        .modal-dialog {
            z-index: 30;
        }

        .modal-backdrop.in {
            z-index: 0;
        }
    </style>
}
