@model Club.ViewModels.AnnouncementViewModel
@{
    var editAllowed = (bool)ViewBag.EditAllowed;
}

@if (Model.IsPrivate)
{
    <div class="alert alert-warning" role="alert">
        <strong>Este es un anuncio privado</strong>, lo cual significa que solo es visible para los miembros
    </div>
}
<div class="row">
    <div class="col-md-12 ">
        <div class="jumbotron">
            <h1>@Model.Name</h1>
            <p class="lead">@Model.Text</p>
            <p class="lead">
                <i class="fa fa-calendar fa-fw"></i> @Model.DueDate
            </p>
            <p class="lead">
                <span><i class="fa fa-clock-o fa-fw"></i> Vence en @Model.HumanizedDueDate</span>
            </p>
            <p class="lead"><i class="fa fa-user fa-fw"></i> @Model.Creator</p>
            @if (User.IsInRole("Admin"))
            {
                <div class="btn-group hidden-print">
                    <button type="button" class="btn btn-info btn-block dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-cogs fa-fw"></i> Opciones <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        @if (User.IsInRole("Admin") && editAllowed)
                        {
                            <li><a href="@Url.Action("edit", new {id = Model.Id})">Edit</a></li>
                            <li role="separator" class="divider"></li>
                        }
                        <li><a href="@Url.Action("delete", new {id = Model.Id})">Eliminar</a></li>
                    </ul>
                </div>
            }
        </div>
    </div>
</div>