@model Club.ViewModels.AnnouncementViewModel
@{
}

@if (Model.IsPrivate)
{
    <div class="alert alert-warning" role="alert">
        <strong>Este es un anuncio privado</strong>, lo cual significa que solo es visible para los miembros
    </div>
}
<div class="row">
    <div class="col-md-12 ">
        <h1>@Model.Name</h1>
        <p class="lead">@Model.Text</p>
        <p class="lead">
            <i class="fa fa-calendar"></i> @Model.DueDate
        </p>
        <p class="lead">
            <span><i class="fa fa-clock-o"></i> @Model.HumanizedDueDate</span>
        </p>
        <p class="lead"><i class="fa fa-user"></i> @Model.Creator</p>
    </div>
</div>